openapi: 3.0.3
info:
  title: LicensePlateData Images API
  description: Developer-first tools that provide access to a library of vehicle information. The API includes Plate to VIN, VIN Decoding, and Vehicle Image services covering passenger cars, ATVs, light and heavy trucks, and trailers from 1980 to current model years.
  version: v1
  contact:
    name: LicensePlateData
    url: https://licenseplatedata.com/
servers:
- url: https://api.licenseplatedata.com/v1
  description: Production
security:
- apiKeyAuth: []
tags:
- name: Images
  description: Vehicle imagery
paths:
  /vehicle-images:
    get:
      tags:
      - Images
      summary: Retrieve vehicle images
      description: High-quality, OEM-style vehicle images with transparent backgrounds.
      operationId: getVehicleImages
      parameters:
      - in: query
        name: vin
        required: false
        schema:
          type: string
      - in: query
        name: year
        required: false
        schema:
          type: integer
      - in: query
        name: make
        required: false
        schema:
          type: string
      - in: query
        name: model
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Image collection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageCollection'
components:
  schemas:
    Vehicle:
      type: object
      properties:
        vin:
          type: string
        year:
          type: integer
        make:
          type: string
        model:
          type: string
        trim:
          type: string
        bodyClass:
          type: string
        engine:
          type: string
        fuelType:
          type: string
        transmission:
          type: string
        driveType:
          type: string
    ImageCollection:
      type: object
      properties:
        vehicle:
          $ref: '#/components/schemas/Vehicle'
        images:
          type: array
          items:
            $ref: '#/components/schemas/Image'
    Image:
      type: object
      properties:
        url:
          type: string
          format: uri
        angle:
          type: string
        width:
          type: integer
        height:
          type: integer
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
